table.mat-mdc-table { table-layout: fixed; width: 100%; }

.mat-column-id        { width: 60px; }
.mat-column-name      { width: 150px; }
.mat-column-logo      { width: 80px; }
.mat-column-history   { width: 200px; }
.mat-column-startDate { width: 120px; }
.mat-column-endDate   { width: 120px; }
.mat-column-series    { width: 200px; }
.mat-column-actions   { width: 100px; }
