table.mat-mdc-table { table-layout: fixed; width: 100%; }

.mat-column-id          { width: 60px; }
.mat-column-name        { width: 150px; }
.mat-column-description { width: 300px; }
.mat-column-actions     { width: 100px; }
