// Forzar layout fijo para que el truncado funcione
table.mat-mdc-table {
    table-layout: fixed;
    width: 100%;
}

.mat-column-id            { width: 60px; }
.mat-column-season        { width: 100px; }
.mat-column-episodeNumber { width: 70px; }
.mat-column-title         { width: 200px; }
.mat-column-type          { width: 120px; }
.mat-column-filePath      { width: 200px; }
.mat-column-actions       { width: 80px; }
